@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

.item1 {
  grid-area: logo;
  background: url('C:/Users/julie/OneDrive/MMD/1. semester/projekt 3/moodboardogstyletiles/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.item2 {
  grid-area: header;
  box-sizing: border-box;
}
.item2 > h1 {
  font-family: Montserrat;
  font-weight: normal;
  text-align: left;
  color: blue;
  line-height: 20%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

}

.item2 > h1 > p {
  font-weight: bold;
  color: hotpink;
}

.item3 {
  grid-area: nav;

}
.item3  ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: Courier;
  text-align: right;
  flex-direction: column;
}

.item3 a {
  text-decoration: none;
  letter-spacing: 2px;
  color: blue;
}

#siden {
  text-decoration: underline;
}

.item4 {
  grid-area: picture;
  background-color: pink;

}

.subitem1 {
  grid-area: video;
  height: 150px;
  width: 150px;

}
.subitem2 {
  grid-area: photos;
  height: 150px;
  width: 150px;

}
.subitem3 {
  grid-area: catanimation;
  height: 150px;
  width: 150px;
}
.subitem4 {
  grid-area: isometricart;
  height: 150px;
  width: 150px;

}
.subitem5 {
  grid-area: animation;
  height: 150px;
  width: 150px;

}
.subitem6 {
  grid-area: ingenide;
  height: 150px;
  width: 150px;

}

.item5 {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: pink;
  }

.item5 > .subcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas:
  '. video photos .'
  '. catanimation isometricart .'
  '. animation ingenide .';
  grid-gap: 50px;
  padding: 20px;
}

.item5 > .subcontainer > div {
  background-color: white;
}

.subitem1b {
  grid-area: video;
  height: 150px;
  width: 150px;

}

.tekst1 {
  grid-area: videotekst;
  height: 150px;
  width: 150px;

}
.subitem2b {
  grid-area: photos;
  height: 150px;
  width: 150px;

}

.tekst2 {
  grid-area: photostekst;
  height: 150px;
  width: 150px;

}
.subitem3b {
  grid-area: catanimation;
  height: 150px;
  width: 150px;

}

.tekst3 {
  grid-area: catanimationtekst;
  height: 150px;
  width: 150px;

}
.subitem4b {
  grid-area: isometricart;
  height: 150px;
  width: 150px;

}

.tekst4 {
  grid-area: isometricarttekst;
  height: 150px;
  width: 150px;

}
.subitem5b {
  grid-area: animation;
  height: 150px;
  width: 150px;

}

.tekst5 {
  grid-area: animationtekst;
  height: 150px;
  width: 150px;

}
.subitem6b {
  grid-area: ingenide;
  height: 150px;
  width: 150px;

}

.tekst6 {
  grid-area: ingenidetekst;
  height: 150px;
  width: 150px;

}

.item5 > .subcontainerb {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr ;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-areas:
  '. video videotekst .'
  '. photostekst photos .'
  '. catanimation catanimationtekst .'
  '. isometricarttekst isometricart .'
  '. animation animationtekst .'
  '. ingenidetekst ingenide .'
  ;
  grid-gap: 50px;
  padding: 20px;
}

.item5 > .subcontainerb > div {
  background-color: white;
}

.item6 {
  grid-area: footer;
  background-color: lightblue;

}
.socials {
  display: flex;
  align-content: space-between;
}

.socials > p {
  font-family: Courier;
  color: blue;
  text-transform: uppercase;
  width: auto;
  height: 30px;
  margin: auto;
  padding: 10px;

}

.socials > ul {
  display: flex;
  width: auto;
  height: 30px;
  margin: auto;
  padding: 10px;


}

.socialicon {
  list-style: none;
}

.socialicon a {
  color: blue;
  font-size: 30px;
  padding: 10px 20px;

}


.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'logo header header header'
    'nav picture picture picture'
    'main main main main'
    'footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;

}
