@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

.item1 {
  grid-area: logo;
}

.item2 {
  grid-area: header;
  box-sizing: border-box;
}
.item2 > h1 {
  font-family: Montserrat;
  font-weight: bold;
  text-align: left;
  color: blue;
  line-height: 20%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2rem;

}

.item2 > h1 > p {
  font-weight: normal;
  color: hotpink;
}

.item3 {
  grid-area: nav;

}
.item3  ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: Courier;
  text-align: right;
  flex-direction: column;
}

.item3 a {
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: blue;
}

#siden {
  text-decoration: underline;
}

.item4 {
  grid-area: picture;
  background: url('C:/Users/julie/OneDrive/MMD/1. semester/projekt 3/billeder/portræt/medfarverpotrættilpræsentationsport1000bred.png')center;
  background-repeat: no-repeat;
  background-size: auto;
}

.subitem1 {
  grid-area: video;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem2 {
  grid-area: photos;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem3 {
  grid-area: catanimation;
  height: 9.5rem;
  width: 9.5rem;
}

}
.subitem4 {
  grid-area: isometricart;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem5 {
  grid-area: animation;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem6 {
  grid-area: ingenide;
  height: 9.5rem;
  width: 9.5rem;

}

.item5 {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: pink;
  }

.item5 > .subcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas:
  '. video photos .'
  '. catanimation isometricart .'
  '. animation ingenide .';
  grid-gap: 3.125rem;
  padding: 1.25rem;
}

.item5 > .subcontainer > div {
  background-color: white;
}

.subitem1b {
  grid-area: video;
  height: 9.5rem;
  width: 9.5rem;

}

.tekst1 {
  grid-area: videotekst;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem2b {
  grid-area: photos;
  height: 9.5rem;
  width: 9.5rem;

}

.tekst2 {
  grid-area: photostekst;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem3b {
  grid-area: catanimation;
  height: 9.5rem;
  width: 9.5rem;

}

.tekst3 {
  grid-area: catanimationtekst;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem4b {
  grid-area: isometricart;
  height: 9.5rem;
  width: 9.5rem;

}

.tekst4 {
  grid-area: isometricarttekst;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem5b {
  grid-area: animation;
  height: 9.5rem;
  width: 9.5rem;

}

.tekst5 {
  grid-area: animationtekst;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem6b {
  grid-area: ingenide;
  height: 9.5rem;
  width: 9.5rem;

}

.tekst6 {
  grid-area: ingenidetekst;
  height: 9.5rem;
  width: 9.5rem;

}

.item5 > .subcontainerb {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr ;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-areas:
  '. video videotekst .'
  '. photostekst photos .'
  '. catanimation catanimationtekst .'
  '. isometricarttekst isometricart .'
  '. animation animationtekst .'
  '. ingenidetekst ingenide .'
  ;
  grid-gap: 3.125rem;
  padding: 1.25rem;
}

.item5 > .subcontainerb > div {
  background-color: white;
}

.subitem1c {
  grid-area: hobby1;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem2c {
  grid-area: hobby2;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem3c {
  grid-area: hobby3;
  height: 9.5rem;
  width: 9.5rem;
}
.subitem4c {
  grid-area: hobby4;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem5c {
  grid-area: hobby5;
  height: 9.5rem;
  width: 9.5rem;

}
.subitem6c {
  grid-area: hobby6;
  height: 9.5rem;
  width: 9.5rem;

}

.item5 > .subcontainerc {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-areas:
  '. hobby1 hobby1 .'
  '. hobby2 hobby2 .'
  '. hobby3 hobby3 .'
  '. hobby4 hobby4 .'
  '. hobby5 hobby5 .'
  '. hobby6 hobby6 .';
  grid-gap: 3.125rem;
  padding: 1.25rem;
}

.item5 > .subcontainerc > div {
  background-color: white;
}

.item6 {
  grid-area: footer;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex-direction: row;


}
.socials {
  display: flex;
  align-content: space-between;
  flex-direction: column;

}

.socials > p {
  font-family: Courier;
  color: blue;
  text-transform: uppercase;
  width: auto;
  height: 1rem;
  margin: auto;
  padding: 0.5rem;


}

.socials > ul {
  display: flex;
  width: auto;
  height: 2rem;
  margin: auto;
  padding: 0.5rem;


}

.socialicon {
  list-style: none;
}

.socialicon a {
  color: blue;
  font-size: 2rem;
  padding: 0.5rem 1.3rem;

}


.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'logo header header header'
    'nav picture picture picture'
    'main main main main'
    'footer footer footer footer';
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.grid-container > div {
  text-align: center;
  padding: 1.3rem 0;

}

@media screen and (min-width: 550px) {
  html,body {
    height: 100%;
  }
  .item5 > .subcontainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas:
    '. video photos catanimation .'
    '. isometricart animation ingenide .';
    grid-gap: 3.125rem;
    padding: 1.25rem;
  }

}
