@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

.item1 {
  grid-area: logo;
  background: url('C:/Users/julie/OneDrive/MMD/1. semester/projekt 3/moodboardogstyletiles/logo.png') center;
}

.item2 {
  grid-area: header;
}
.item2 > h1 {
  font-family: Montserrat;
  font-weight: normal;
  text-align: left;
  color: blue;
  line-height: 20%;
  margin: 5%;

}

.item2 > h1 > p {
  font-weight: bold;
  color: hotpink;
}

.item3 {
  grid-area: nav;
}
.item3 > ul {
  display: flex;
  list-style: none;
  color: blue;
  font-family: Courier;
  text-align: right;
  flex-direction: column;
}

.item4 {
  grid-area: picture;
  background-color: pink;

}

.subitem1 {
  grid-area: video;
  height: 150px;
  width: 150px;

}
.subitem2 {
  grid-area: photos;
  height: 150px;
  width: 150px;

}
.subitem3 {
  grid-area: catanimation;
  height: 150px;
  width: 150px;
}
.subitem4 {
  grid-area: isometricart;
  height: 150px;
  width: 150px;

}
.subitem5 {
  grid-area: animation;
  height: 150px;
  width: 150px;

}
.subitem6 {
  grid-area: ingenide;
  height: 150px;
  width: 150px;

}

.item5 {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: pink;
  }

.item5 > .subcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas:
  '. video photos .'
  '. catanimation isometricart .'
  '. animation ingenide .';
  grid-gap: 50px;
  padding: 10px;


}

.item5 > .subcontainer > div {
  display: flex;
  background-color: white;

}


.item6 {
  grid-area: footer;
  background-color: lightblue;

}
.item6 > p {
  color: blue;
  font-family: Courier;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'logo header header header'
    'nav picture picture picture'
    'main main main main'
    'footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;

}
